.homebody-content {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
}

.homebody-content h1 {
  font-size: 48px;
  font-weight: 700;
  padding-left: 41px;
  color: var(--color-font-black);
}

.homebody-content h2 {
  font-size: 24px;
  font-weight: 700;
  padding-left: 41px;
  color: var(--color-font-gray);

}
